.spaceing {
    padding-top: 50px;
}

div > input {
    width: 30vw;
    text-align: center;
    font-size: larger;
}

.spanFix {
    max-width: 15%;
    text-align: center;
}

.mat-card-image {
    margin: 0 -16px 16px -16px;
    display: block;
    max-width: 300px;
    max-height: 500px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 1280px) {
    div {
        padding-top: 8%;
    }

    div > input {
        width: 40vw;
        text-align: center;
        font-size: medium;
    }
}

@media screen and (max-width: 768px) {
    div {
        padding-top: 12%;
    }

    div > input {
        width: 60vw;
        text-align: center;
        font-size: medium;
    }


    .mat-card-image {
        margin: 0 -16px 16px -16px;
        display: block;
        max-width: 100px;
        max-height: 200px;
        width: auto;
        height: auto;
    }
}