mat-toolbar {
    position: fixed;
    z-index: 2;
}

span, button, mat-slide-toggle {
    font-size: 1.2vw;
    text-align: center;
}

@media screen and (max-width: 599px) {
    span, button, mat-slide-toggle {
        font-size: 2.4vw;
        text-align: center;
    }
}