<div *ngIf="!checkIfUserIsLoggedIn()">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
        <span [fxFlex.gt-sm]="15" [fxFlex.lt-sm]="25">VirTourMuseumPlaner <br> © 2022 Марко Дојкић</span>

        <div [fxHide.lt-sm]="true" fxFlex="75" fxLayoutGap="2%">
            <button mat-stroked-button routerLink="/exhibitions" fxFlex>
                Поставке
            </button>
            <button mat-stroked-button routerLink="/login" fxFlex>
                Логовање
            </button>
            <button mat-stroked-button routerLink="/registration" fxFlex>
                Регистрација
            </button>
        </div>
        <div [fxHide.gt-xs]="true" fxFlex="45" fxLayoutGap="15%">
            <button mat-icon-button routerLink="/exhibitions" fxFlex>
                <mat-icon>museum</mat-icon>
            </button>
            <button mat-icon-button routerLink="/login" fxFlex>
                <mat-icon>login</mat-icon>
            </button>
            <button mat-icon-button routerLink="/registration" fxFlex>
                <mat-icon>person_add</mat-icon>
            </button>
        </div>

        <mat-slide-toggle (change)="onDarkModeChange($event)" [checked]="isDarkMode" [fxFlex.gt-sm]="8"
            [fxFlex.lt-sm]="20">Тамни<br>режим</mat-slide-toggle>
    </mat-toolbar>
</div>
<div *ngIf="checkIfUserIsLoggedIn()">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
        <span [fxFlex.gt-sm]="15" [fxFlex.lt-sm]="65">VirTourMuseumPlaner<br>© 2022 Марко Дојкић</span>

        <div [fxHide.lt-sm]="true" fxFlex="75" fxLayoutGap="2%">
            <button mat-stroked-button routerLink="/exhibitions" fxFlex>
                Поставке
            </button>
            <button mat-stroked-button routerLink="/planer" fxFlex>
                Моји обиласци
            </button>
            <button mat-stroked-button routerLink="/profile" fxFlex>
                Профил
            </button>
            <button mat-stroked-button (click)="loginService.signOut()" color="warn" fxFlex>
                Излогуј ме
            </button>
        </div>

        <div [fxHide.gt-xs]="true" fxFlex="60" fxLayoutGap="2%">
            <button mat-stroked-button routerLink="/exhibitions" fxFlex>
                <mat-icon>museum</mat-icon>
            </button>
            <button mat-stroked-button routerLink="/planer" fxFlex>
                <mat-icon>tour</mat-icon>
            </button>
            <button mat-stroked-button routerLink="/profile" fxFlex>
                <mat-icon>person</mat-icon>
            </button>
            <button class="specialFix" mat-stroked-button (click)="loginService.signOut()" color="warn">
                <mat-icon>person_outline</mat-icon>
            </button>
        </div>

        <mat-slide-toggle (change)="onDarkModeChange($event)" [checked]="isDarkMode" [fxFlex.gt-sm]="12"
            [fxFlex.lt-sm]="20">Тамни<br>режим</mat-slide-toggle>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>