<div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
      <span [fxFlex.gt-sm]="15" [fxFlex.lt-sm]="25">VirTourMuseumPlaner <br> © 2022 Марко Дојкић</span>
      
      <div [fxHide.lt-sm]="true" fxFlex="75" fxLayoutGap="2%">
        <button mat-stroked-button routerLink="/museum" fxFlex>
            Експонати   
        </button>
        <button mat-stroked-button routerLink="/login" fxFlex>
            Логовање   
        </button>
        <button mat-stroked-button routerLink="/registration" fxFlex>
            Регистрација
        </button>
        </div>
        <div [fxHide.gt-xs]="true" fxFlex="45" fxLayoutGap="15%">
            <button mat-icon-button routerLink="/museum" fxFlex>
                <mat-icon>museum</mat-icon>
            </button>
            <button mat-icon-button routerLink="/login" fxFlex>
                <mat-icon>login</mat-icon>   
            </button>
            <button mat-icon-button routerLink="/registration" fxFlex>
                <mat-icon>person_add</mat-icon>
            </button>
        </div>

      <mat-slide-toggle (change)="onDarkModeChange($event)" [checked]="isDarkMode" [fxFlex.gt-sm]="8" [fxFlex.lt-sm]="20">Тамни<br>режим</mat-slide-toggle>
  </mat-toolbar>
</div>
<!--
<div *ngIf="this.fs.loggedInUserId !== null">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
        <span>Продавница ОИЕ <br> © 2021 Марко Дојкић</span>
        
        <div [fxHide.lt-sm]="true" fxFlex="75" fxLayoutGap="2%">
            <button mat-stroked-button routerLink="/shop" fxFlex>
                Продавница   
            </button>
            <button mat-stroked-button routerLink="/order" fxFlex>
                Поруџбине   
            </button>
            <button mat-icon-button routerLink="/cart" fxFlex="5">
                <mat-icon matBadge="{{numberOfProductsInShoppingCart}}" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>
            <button mat-stroked-button routerLink="/profile" fxFlex>
                Профил
            </button>
            <button mat-stroked-button (click)="fs.signOut()" color="warn" fxFlex>
                Излогуј ме
            </button>
        </div>

        <div [fxHide.gt-xs]="true" fxFlex="55" fxLayoutGap="4%">
            <button mat-icon-button routerLink="/shop" fxFlex>
                <mat-icon>store</mat-icon>
            </button>
            <button mat-icon-button routerLink="/order" fxFlex>
                <mat-icon>receipt</mat-icon>
            </button>
            <button mat-icon-button routerLink="/cart">
                <mat-icon matBadge="{{ numberOfProductsInShoppingCart }}" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>
            <button mat-icon-button routerLink="/profile" fxFlex>
                <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button (click)="fs.signOut()" color="warn" fxFlex>
                <mat-icon>person_outline</mat-icon>
            </button>
        </div>

        <mat-slide-toggle (change)="onDarkModeChange($event)" [checked]="isDarkMode" [fxFlex.gt-sm]="8" [fxFlex.lt-sm]="20">Тамни<br>режим</mat-slide-toggle>
    </mat-toolbar>
</div>
-->
<router-outlet></router-outlet>