.mat-toolbar {
    position: fixed;
    z-index: 1;
    top: 64px;
    padding-bottom: -10%;
}

.mat-grid-list {
    top: 100px;
}

.mat-card {
    text-align: center;
    padding: 2px !important;
}

.mat-card-actions {
    max-width: 90%;
    margin-bottom: 5px !important;
}

.marginOverride {
    margin-bottom: -9px !important;
}

.mat-card-image {
    height: 100px !important;
    width: 100px !important;
}

.titleFont {
    font-size: 15px;
}

.descFont {
    font-size: 0.5vmax;
    line-height: 10px;
}

span > mat-checkbox {
    margin: 0 10px;
}

.mat-accordion {
    padding-top: 235px;
}

ngx-timepicker-field {
    padding-left: 12% !important;
}