<mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>Филтрирај по цени</mat-panel-description>
      </mat-expansion-panel-header>
      <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="priceSliderOptions"
        (userChangeEnd)="applyFilters()"></ngx-slider>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>Филтрирај по броју експоната</mat-panel-description>
      </mat-expansion-panel-header>
      <ngx-slider [(value)]="minExhibitCount" [(highValue)]="maxExhibitCount" [options]="exhibitCountSliderOptions"
        (userChangeEnd)="applyFilters()"></ngx-slider>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>Филтрирај по процењеном времену обиласка</mat-panel-description>
      </mat-expansion-panel-header>
      <ngx-slider [(value)]="minTime" [(highValue)]="maxTime" [options]="timeSliderOptions"
        (userChangeEnd)=" applyFilters()"></ngx-slider>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по цени</mat-panel-description>
          </mat-expansion-panel-header>
          <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [(options)]="priceSliderOptions" (userChangeEnd)="applyFilters()"></ngx-slider>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по количини</mat-panel-description>
          </mat-expansion-panel-header>
          <span>Најмања количина на стању: <input type="number" [(ngModel)]="minInStock" name="minInStock" (keyup)="applyFilters()"/></span>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="voltages != null">
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по напону</mat-panel-description>
          </mat-expansion-panel-header>
          <span *ngFor="let voltage of voltages | keyvalue">
            <mat-checkbox [(ngModel)]="voltage.value" (change)="updateVoltages(voltage.key, $event)">{{voltage.key}}</mat-checkbox>
          </span>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="amperages != null">
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по јачини струје пуњења</mat-panel-description>
          </mat-expansion-panel-header>
          <span *ngFor="let amperage of amperages | keyvalue : orderByNumber">
            <mat-checkbox [(ngModel)]="amperage.value" (change)="updateAmperages(amperage.key, $event)">{{amperage.key}}</mat-checkbox>
          </span>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="wattages != null">
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по излазној снази</mat-panel-description>
          </mat-expansion-panel-header>
          <span *ngFor="let wattage of wattages | keyvalue : orderByNumber">
            <mat-checkbox [(ngModel)]="wattage.value" (change)="updateWattages(wattage.key, $event)">{{wattage.key}}</mat-checkbox>
          </span>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="amperhours != null">
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по капацитету</mat-panel-description>
          </mat-expansion-panel-header>
          <span *ngFor="let amperhour of amperhours | keyvalue : orderByNumber">
            <mat-checkbox [(ngModel)]="amperhour.value" (change)="updateAmperhours(amperhour.key, $event)">{{amperhour.key}}</mat-checkbox>
          </span>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="selectedCategory === 'Електрична возила'">
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по домету</mat-panel-description>
          </mat-expansion-panel-header>
          <ngx-slider [(value)]="minDrivingRange" [(highValue)]="maxDrivingRange" [(options)]="priceSliderOptionsDrivingRange" (userChangeEnd)="applyFilters()"></ngx-slider>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>Филтрирај по оцени</mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2%">
            <button mat-icon-button (mouseover)="updateRating(0)" (click)="applyFilters()" id="shopRating_0"><mat-icon>not_interested</mat-icon></button>
            <button mat-icon-button *ngFor="let dummy of [].constructor(5); let i = index" (mouseover)="updateRating(i + 1)" (click)="applyFilters()"><mat-icon id="{{'shopRating_' + (i + 1)}}">star_outline</mat-icon></button>
          </div>
        </mat-expansion-panel> -->
  </mat-accordion>
  <mat-divider></mat-divider>
</mat-toolbar>
<mat-grid-list [cols]="1" rowHeight="40vh" style="min-width: 350px;" class="mat-card">
  <mat-grid-tile *ngFor="let exhibition of filteredExhibitions" fxLayout="row" fxLayout.lt-md="column"
    fxLayoutAlign="center center" fxFlex>
    <mat-card style="margin-right: 5px;" fxLayout="column" fxLayoutAlign="center center" fxFlex="20">
      <mat-card-content fxLayoutAlign="center center" fxLayout="column" fxFlex>
        {{exhibition.type}}
        <br> Врста експоната: {{exhibition.exhibitsType}}
        <br> Цена обиласка: {{ returnTotalCost(exhibition.exhibits).toLocaleString("sr-RS", {
        minimumFractionDigits:
        2,
        maximumFractionDigits: 2 }) }} динара
        <br> Процењено време обиласка: {{ returnTotalTime(exhibition.exhibits) }} минута
      </mat-card-content>
    </mat-card>
    <p-carousel fxLayoutAlign="center center" fxFlex="80" [value]="exhibition.exhibits" [numVisible]="5" [numScroll]="5"
      [showIndicators]="false" [showNavigators]="true" [responsiveOptions]="carouselResponsiveOptions">
      <ng-template let-exhibit pTemplate="item">
        <div class="exhibit-item" fxFlex>
          <div class="exhibit-item-content" fxFlex>
            <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlexFill fxLayoutGap="2px">
              <mat-card-header class="marginOverride" fxLayoutAlign="center center" fxFlex=20>
                <mat-card-title class="titleFont">{{exhibit.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="assets/images/temp.png" alt="Photo of {{exhibit.title}}" />
              <!-- [src]="'assets/' + exhibit.imageURL | async" *fix this not working, path is correct when images become avaiable -->
              <mat-card-content class="marginOverride" fxLayoutAlign="center center" fxFlex=40>
                <p class="descFont">{{exhibit.description}}</p>
              </mat-card-content>
              <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxFlex=40>
                <span fxFlex="25" class="descFont">Вредност експоната: {{ exhibit.price?.toLocaleString("sr-RS", {
                  minimumFractionDigits: 2,maximumFractionDigits: 2 }) }} динара</span>
                <span fxFlex="25" class="descFont">Процењено време обиласка: {{ exhibit.time }} минута</span>
                <span fxFlex="25" class="descFont">Земља порекла: {{ exhibit.countryOfOrigin }}</span>
                <button fxFlex="15" type="button" mat-icon-button color="accent" (click)="addToPlaner(exhibit.id)">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button fxFlex="10" type="button" mat-icon-button color="secondary" (click)="showReviews(exhibit.id)">
                  <mat-icon>comment</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </mat-grid-tile>
  <div class="scrollExpansion"></div>
</mat-grid-list>
<notifier-container></notifier-container>